body {
    font-family: 'figtree', sans-serif;
    background-color: indigo;
    color: #ffffff;
    padding: 12px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navbar {
    display: flex;
    list-style-type: none;
}

.navbar li a {
    padding: 20px;
    display: inline-block;
}

.alert {
    background-color: white;
    color: white;
    padding: 12px;
    border-radius: 12px;
}

.alert-header {
    background-color: black;
    color: white;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
}